//	Variables
//--------------------------------------*/

// Define Colors
$ucla-blue:				#347bad;
$dark-green:			#336633;
$cam-green:				#006600;
$dark-blue:				#0277bd;
$white:					white(0.98);

// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$dark-green;
$primary-light:			tint($primary, 85%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$cam-green;
$secondary-light: 		tint($secondary, 73%);
$secondary-dark: 		darken($secondary, 5%);

// Conference Variant
$darker-blue: 			darken($dark-blue, 15% );
$dark-btn-color:			$ucla-blue;
$dark-btn-hover-color:	shade($ucla-blue, 82%);

$dark-link-color:		$ucla-blue;
$dark-link-hover-color:	shade($ucla-blue, 82%);

// Text Colors
$text-color:				rgba(black, .87);
$secondary-text-color:	rgba(black, .53);
$link-color:				$primary-light;
$link-hover-color:		$primary-dark;
$link-visited-color:		$primary-dark;
$header-color:			$text-color;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$secondary;
$background-color:		$primary-light;
$btn-color:				$primary-light;
$btn-hover-color:		$primary-dark;
$btn-give-color:			$ucla-blue;
$bullet-point:			$secondary;
$bg-light-color:			rgba(black, .03);
$bg-dark-color:			rgba(black, .06);

//	Numbers
//--------------------------------------*/

// Set height of hero on homepage
$home-hero-height: 		660px;

// Global border radius
$radius:				10em;

// Site width
$site-width:			940px;